

#main-div{
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 60px;
}

#form-panel-div{
    width: 60%;
    margin: 0 auto;
    padding-top: 30px;
}

.my-form{
    width: 50%;
}